{% extends 'base.html' %}
{% block content %}
{% load customtags %}

<h1>Assignment 3 PBP</h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Student ID:</h5>
<p>{{ student_id }}</p>

<div class="message-box">
  {% if watchlist|count_watched >= watchlist|count_not_watched  %}
    <p style="color:green;">
        {{ "👏 Selamat, kamu sudah banyak menonton!" }}
    </p>
  {% else %}
    <p style="color:red;">
        {{ "😔 Wah, kamu masih sedikit menonton!" }}
    </p>
  {% endif %}
</div>
<table>
  <tr style="background-color: #ced4da;">
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
  </tr>
  {% for movie in watchlist %}
    {% if forloop.counter0|modulo:2 != 0 %}
      <tr style="background-color: #e9ecef;">
    {% else %}
      <tr>
    {% endif %}
        {% if movie.watched  %}
          <td style="text-align: center;">✅</td>
        {% else %}
          <td style="text-align: center;">❌</td>
        {% endif %}
        <td>{{movie.title}}</td>
        <td>{{movie.rating|rating_star}}</td>
        <td>{{movie.release_date}}</td>
        <td>{{movie.review}}</td>
      </tr>
  {% endfor %}
</table>

{% endblock content %}
